@import 'complementos/variaveis';

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin: 32px 0;
}

.top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  height: 32px;
  width: 32px;
  font-size: 2rem;
  color: $cor-cinza-escuro;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  background-color: $cor-amarelo-luz;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  &:hover {
    color: $cor-cinza-escuro;
    scale: 0.95;
    background-color: $cor-vermelho-luz;
  }

}

.container-geral {
  width: 90%;
  margin: 16px auto;
  height: auto;



  h2 {
    text-align: center;
    font-size: clamp(1.25rem, 1rem + 1.1111vw, 2rem);
    font-weight: 600;
    margin: 8px 0;
  }

}

.container-home {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .indice-estudos {
    width: 90%;
    margin: 16px auto;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;

    .indice {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      a {
        text-decoration: none;
        color: $cor-branco;
        font-size: clamp(1.25rem, 1rem + 1.1111vw, 2rem);
        font-weight: 600;

        span {
          font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
          color: $cor-azul-luz;
          font-weight: 500;
        }

        &:hover {
          color: $cor-azul-luz;
        }
      }
    }
  }

}

.container-pratica {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 64px 0;

  .aulas {
    width: 90%;
    min-width: 320px;
    margin: 16px auto;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // overflow: hidden;


    h2 {
      span {
        font-family: $font-family;
        font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
        color: $cor-azul-luz;
        font-weight: 500;
        letter-spacing: none;
      }
    }

    p {
      font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
      margin: 8px;
      text-align: center;
      color: $cor-cinza;
    }

    .codigo {
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
      color: $cor-verde-codigo;
      text-align: center;
    }

    .aula {
      width: 90%;
      min-width: 320px;
      height: auto;
      margin: 24px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      perspective: 300px;
      transform-style: preserve-3d;

      :nth-child(1) {
        background-color: $cor-vermelho-luz;
        box-shadow: 0 0 16px $cor-vermelho-luz;
      }

      :nth-child(2) {
        background-color: $cor-verde-luz;
        box-shadow: 0 0 16px $cor-verde-luz;
      }

      :nth-child(3) {
        background-color: $cor-azul-luz;
        box-shadow: 0 0 16px $cor-azul-luz;
      }

      .item {
        width: 20%;
        height: auto;
        aspect-ratio: 1/1;
        margin: 5px;
        border-radius: 8px;
      }
    }

    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      z-index: 20;

      .btn-aulas {
        width: 128px;
        height: 48px;
        margin: 24px auto;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        color: $cor-obsidian;
        cursor: pointer;
        background-color: $cor-cinza;
        transition: all 0.3s ease-in-out;
        box-shadow: -5px 5px 0 $cor-branco;
        z-index: 10;

        &:hover {
          background-color: $cor-obsidian;
          color: $cor-branco;
          scale: 0.95;
          box-shadow: none;
        }

        &:disabled {
          background-color: $cor-cinza;
          color: $cor-cinza-escuro;
          cursor: not-allowed;
          scale: 0.95;
          box-shadow: none;
        }
      }

      .btn-aulas-reset {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: none;
        font-weight: 600;
        color: $cor-obsidian;
        cursor: pointer;
        background-color: $cor-cinza;
        transition: all 0.3s ease-in-out;
        box-shadow: -3px 3px 0 $cor-branco;

        &:hover {
          background-color: $cor-obsidian;
          color: $cor-branco;
          scale: 0.95;
          box-shadow: none;
        }

        &:disabled {
          background-color: $cor-cinza-escuro;
          color: $cor-cinza;
          cursor: not-allowed;
          scale: 0.95;
          box-shadow: none;
        }
      }
    }
  }

  .aulas-5,
  .aulas-9,
  .aulas-10,
  .aulas-10-2 {
    perspective: 300px;
    transform-origin: preserve-3d;
  }


  .aula-10-2-controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    
  
    div {
      font-size: 14px;
      padding: 8px 16px;
      background-color: $cor-cinza;
      border-radius: 8px;
      color: $cor-obsidian;
      font-weight: 600;
      box-shadow: -5px 5px 0 $cor-branco;
      transition: all 0.3s ease-in-out;
      cursor: pointer;


      &:hover { 
        scale: 0.95;
        background-color: $cor-obsidian;
        color: $cor-branco;
        box-shadow: none;
      }
    }
  }
  }
}

